version: "2.4"
services:
  redis:
    command: redis-server --requirepass ${REDIS_PASSWORD}

  redis-dns-tunnel:
    environment:
      CLIENT_SUFFIX: .dlemel8.xyz
    ports:
      - "${PUBLIC_IP}:53:53/udp"
